<div th:include="Navbar.html"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h2>Welcome to Loginpage</h2>
			<p>Please fill out this form to login</p>
			<form th:action="@{/processlogin}" method="post">
				<div th:if="${param.error}" class="alert alert-error text-danger">
					Invalid username or password.</div>

				<div class="form-group">
					<label for="email">Email</label> <input type="email" name="email"
						id="email" placeholder=" Email"
						class="form-control form-control-lg">
				</div>

				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control form-control-lg" placeholder="Password"
						name="password" id="password">
				</div>

				<input type="submit" value="Login" class="btn btn-primary btn-block">
				<br> <span>Don't have an account <a class="linkControl"
					href="./register.html" th:href="@{/register}">Register here</a></span> <br>
				<a th:href="@{/forgotpassword}">Forgot password ?</a>
			</form>
			<br>
			<h3>OR</h3>
			<a href="/oauth2/authorization/google" class="btn btn-primary">Sign-In
				with google </a>

		</div>

	</div>
</div>


</body>
</html>