<div th:include="adminNavbar.html"></div>
<div class="container">
	<h3>Add a new Product</h3>
	<form th:action="@{/admin/products/add}" method="post"
		th:object="${productdto}" enctype="multipart/form-data">
		<div class="row">
			<div class="col-sm-5">

				<input type="hidden" name="id" th:field="*{id}">
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						class="form-control" required th:field="*{name}" name="name"
						id="name" placeholder="Enter name">

				</div>
				<div class="form-group">
					<label for="category">Select Category</label> <select
						class="form-control" th:field="*{category}" id="category"
						name="category">
						<option th:each="category :${categories}"
							th:value="${category.id}" th:text="${category.name}">
					</select>
				</div>
				<div class="form-group">
					<label for="price">Price</label> <input type="number"
						class="form-control" required th:field="*{price}" name="price"
						id="price" placeholder="Price">
				</div>
				<div class="form-group">
					<label for="weight">Weight in grams</label> <input type="number"
						class="form-control" required th:field="*{weight}" name="weight"
						id="weight" placeholder="Weight">
				</div>
				<div class="form-group">
					<label for="description">Product Description</label>
					<textarea class="form-control" rows="5" th:field="*{description}"
						name="description" id="description"></textarea>
				</div>
			</div>
			<div class="col-sm-5">
				<p>Product Image</p>
				<div class="custom-file">
					<input type="file" name="productimage" />
				</div>
				<div class="form-group">
					<img src="#" id="imgPreview" height="100px" width="100px"
						th:src="@{${'/images/'+productdto.imageName}}"
						style="margin-top: 20px" alt=" ">
				</div>
				 <input type="hidden" name="imgName" th:value="${productdto.imageName}"> 
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</div>

